<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>g00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 21}, {96, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{96, 66}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{10, 28}, {96, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {84, 90}}</string>
			<key>spriteOffset</key>
			<string>{-8, 10}</string>
			<key>spriteSize</key>
			<string>{84, 90}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 11}, {84, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {72, 98}}</string>
			<key>spriteOffset</key>
			<string>{-12, 12}</string>
			<key>spriteSize</key>
			<string>{72, 98}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 7}, {72, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{-12, 9}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 3}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 28}, {96, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{96, 76}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{12, 123}, {96, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 7}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{13, 9}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 106}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 3}, {72, 98}}</string>
			<key>spriteOffset</key>
			<string>{13, 12}</string>
			<key>spriteSize</key>
			<string>{72, 98}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 111}, {72, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 10}, {84, 88}}</string>
			<key>spriteOffset</key>
			<string>{8, 10}</string>
			<key>spriteSize</key>
			<string>{84, 88}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 111}, {84, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 46}, {88, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -17}</string>
			<key>spriteSize</key>
			<string>{88, 70}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{28, 234}, {88, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 35}, {96, 80}}</string>
			<key>spriteOffset</key>
			<string>{14, -11}</string>
			<key>spriteSize</key>
			<string>{96, 80}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 226}, {96, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 17}, {70, 94}}</string>
			<key>spriteOffset</key>
			<string>{19, -0}</string>
			<key>spriteSize</key>
			<string>{70, 94}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 222}, {70, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 8}, {84, 108}}</string>
			<key>spriteOffset</key>
			<string>{20, 2}</string>
			<key>spriteSize</key>
			<string>{84, 108}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 216}, {84, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 13}, {88, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{88, 70}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{25, 345}, {88, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {84, 108}}</string>
			<key>spriteOffset</key>
			<string>{-19, 2}</string>
			<key>spriteSize</key>
			<string>{84, 108}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 315}, {84, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 17}, {70, 94}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{70, 94}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 330}, {70, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 35}, {96, 80}}</string>
			<key>spriteOffset</key>
			<string>{-13, -11}</string>
			<key>spriteSize</key>
			<string>{96, 80}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 337}, {96, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>bear.zwd</string>
		<key>textureFileName</key>
		<string>bear_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>