<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>arrow1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 112}</string>
			<key>spriteSourceSize</key>
			<string>{40, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {40, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {54, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{54, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 0}, {54, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{-4, 5}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 160}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {42, 54}}</string>
			<key>spriteOffset</key>
			<string>{-6, 5}</string>
			<key>spriteSize</key>
			<string>{42, 54}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 138}, {42, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 52}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {54, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{54, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 114}, {54, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 0}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {42, 54}}</string>
			<key>spriteOffset</key>
			<string>{7, 5}</string>
			<key>spriteSize</key>
			<string>{42, 54}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 0}, {42, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>g07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{4, 5}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 150}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lifegauge1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 6}</string>
			<key>spriteSourceSize</key>
			<string>{30, 6}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 104}, {30, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lifegauge2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 6}</string>
			<key>spriteSourceSize</key>
			<string>{30, 6}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 92}, {30, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>missile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{225, 108}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 20}, {50, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{50, 40}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 192}, {50, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 16}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{6, -6}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 0}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {40, 52}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{40, 52}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 138}, {40, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{6, 6}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 104}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {50, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{50, 40}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 194}, {50, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{-6, 6}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 46}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {40, 52}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{40, 52}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 56}, {40, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>v07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{-6, -6}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 92}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>enemy01.zwd</string>
		<key>textureFileName</key>
		<string>enemy01_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>